body {
    background: linear-gradient(to bottom right, #00539b, #a1d8ff);
}

.welcome-section {
    text-align: center;
}

.welcome-heading {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;
    color: #05437a;
}

.welcome-heading span {
    font-style: italic;
}

.authors-heading {
    text-align: center;
    margin: 20px 0;
}

.authors-heading h2 {
    font-size: 2rem;
    color: #05437a;
    margin: 0;
}

.author-sections {
    display: flex;
    justify-content: space-evenly;
    padding: 1vh;
    flex-wrap: wrap;
}