.notification-title {
    height: 10vh;
    width: 80%;
    margin-top: 2vh;
    margin-bottom: 1vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
}

.notification-title h3 {
    font-size: 2rem;
    color: #05437a;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: bold;
}